body {
    height: 100vh;
    background-color: #363639;
    display: flex;
    color: white;
    position: relative;
}

form {
    align-items: center;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
/* #6CC091 */
